@usmanliaqatdeveloper:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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