@usmanliaqatdeveloper:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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